body {
    margin: 0;
    height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
}



.content {


text-align: center;
width: 225px;
padding: 3px;
border: 1px solid #ccc;
border-radius: 10px;
background-color: aqua;
margin-top: 3px;
margin-right: 3px;
margin-left: 3px;
padding-bottom: 50px;
padding-left: 3px;
}        

.content img {
max-width: 100%;
border-radius: 5px;
}
.small-text {
    font-size: small;
}